.editor-wrapper {
    height: 80vh;
}
.editor-paper {
    border: solid 1px #000;
    height: 115%;
    width: 97%;
    margin: 0 0 0 1rem;
    position: relative;
    float: left;
}

/*@media only screen and (max-width: 1319px) {
    .editor-paper {
        border: solid 1px #000;
        width: 78%;
        margin: 0 0 0 1rem;
        position: relative;
        float: left;
    }
}

@media only screen and (max-width: 1301px) {
    .editor-paper {
        border: solid 1px #000;
        width: 77%;
        margin: 0 0 0 1rem;
        position: relative;
        float: left;
    }
}

@media only screen and (max-width: 1229px) {
    .editor-paper {
        border: solid 1px #000;
        width: 76%;
        margin: 0 0 0 1rem;
        position: relative;
        float: left;
    }
}

@media only screen and (max-width: 1164px) {
    .editor-paper {
        border: solid 1px #000;
        width: 75%;
        margin: 0 0 0 1rem;
        position: relative;
        float: left;
    }
}

@media only screen and (max-width: 1106px) {
    .editor-paper {
        border: solid 1px #000;
        width: 74%;
        margin: 0 0 0 1rem;
        position: relative;
        float: left;
    }
}*/


#paper-holder {
    position: absolute;
    top: 0;
    left: 0;
    margin: 1px;
}

.editor-clear-modal {

}

.editor-clear-modal__description {
    margin-bottom: 1rem;
}

.editor-clear-modal__button {
    background-color: lightslategray;
    border: solid 1px #000;
    border-radius: 2px;
    color: #FFF;
    margin-right: 1rem;
    padding: .4rem;
}

.editor-clear-modal__button--danger {
    background-color: darkred;
}

.testswitch {
    position: relative;
    float: right; 
    width: 100px;
    margin: 0;
    -webkit-user-select:none; 
    -moz-user-select:none; 
    -ms-user-select: none;
}
 
.testswitch-checkbox {
    display: none;
}
 
.testswitch-label {
    display: block; 
    overflow: hidden; 
    cursor: pointer;
    border: 1px solid #ffffff; 
    border-radius: 20px;
    position: relative;
}
 
.testswitch-inner {
    display: block; 
    width: 200%; 
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
 
.testswitch-inner::before, .testswitch-inner::after {
    display: block; 
    float: right; 
    width: 50%; 
    height: 29px; 
    padding: 0; 
    line-height: 30px;
    font-size: 11px; 
    color: white; 
    box-sizing: border-box;
    font-family: 'Raleway', 'serif';
}
 
.testswitch-inner::after {
    content: attr(data-on);
    padding-left: 7px;
    background-color: rgb(181, 181, 181);   
    color: #FFFFFF;
}
 
.testswitch-inner::before {
    content: attr(data-off);
    padding-right: 7px;
    background-color: darkcyan; 
    color: ##2c2c2c;
    text-align: right;
}
 
.testswitch-switch {
    position: absolute; 
    display: block; 
    width: 27px;
    height: 27px;
    background: #FFFFFF;
    top: 0; 
    bottom: 0;
    right: 69px;
    border: 1px solid #4d4d4d; 
    border-radius: 20px;
    transition: all 0.3s ease-in 0s;
}

.testswitch-checkbox:checked + .testswitch-label .testswitch-inner {
    margin-left: 0;
}
 
.testswitch-checkbox:checked + .testswitch-label .testswitch-switch {
    right: 0px; 
}

